.compte, #boutonEnvoyer {
    border-radius: 20px;
    background-color: #183C99;
    padding: 10px 30px;
    color: white;
    display : block;
    width : 170px;
    text-align : center;
}

.compte:hover, #boutonEnvoyer:hover {
    background-color: #4a86e8;
}






#adresseContact {
    color: #183C99;
    font-weight: bold;
}
/* --------------------------debut form-------------------------- */


#connexion-page{
    width: 450px;
    margin: auto;
}


#con{
	border: 1px blue solid;
    background-color: #b8ddea;
    padding: 40px 0;
    width: 100%;
	text-align: center;
}

.connexion-texbox{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.connexion-texbox input{
    overflow: hidden;
    display: block;
  width: 100%;
    border: 0;
  /*box-sizing: border-box;*/
  
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  color: black;
}
.entre{
	display: inline-block;
    font-size: 11px;
    width: 28%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
	
input[type=submit]{
	padding: 20px 40px;
	border-radius: 8px;
	background-color: #469400;
	
	width: 50%;
    margin: 10px 25% 20px 25%;
}
input[type=submit]:active{
 	 background-color: #469400;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
input[type=submit]:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#fid{
	background-image: url('../image/avatar.png');
}
#fmdp {
  background-image: url('../image/cadenas.png');
}

/* --------------------------fin form-------------------------- */