table {
  border-collapse: collapse;
  width: 600px;
  margin-top: 10px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button{
  width: 200px;
  height: 50px;
  background-color: #183c99;
  color:white;
}

button:hover {
  background-color: #4a86e8;
}